{% extends "base.html" %}

{% block content %}
    <li>喂奶记录：</li>
    <table >
        <tr>
            <th>日期</th>
            <th>摄入量</th>
        </tr>

        {% for nursing in statistic_result.nursing_history %}
        <tr>
            <td>{{ nursing.feeding_time }}</td>
            <td>{{ nursing.milk_feeding_ml }}</td>
            <td><a href='{{ url_for("update") }}?id={{ nursing.id }}'>更新</a></td>
            <td><form action="{{ url_for('delete') }}" method="post"><input id="id" name="id" type="hidden" value="{{ nursing.id }} "><button type="submit">删除</button></form></td>
        </tr>
        {% endfor %}
    </table>

    <li>拉粑粑记录：</li>
`   <table>
        <tr>
            <th>日期</th>
            <th>拉肚子？</th>
        </tr>

        {% for poo in statistic_result.poo_history %}
        <tr>
            <td>{{ poo.poo_time }}</td>
            {% if poo.is_sick %}
            <td><input type="checkbox" id="{{ poo.id }}" checked name="拉肚子"></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}